<h1>YO</h1>

<h2>Burgers</h2>

<ul>
    {{#each dbBurger}}
        {{#unless devoured}}
            {{> burger-block/burger-block devoured=true}}
        {{/unless}}
    {{/each}}
</ul>

<h2>Eated Burger</h2>

<ul>
    {{#each dbBurger}}
        {{#if devoured}}
            {{> burger-block/burger-block devoured=false}}
        {{/if}}
    {{/each}}
</ul>

<h2>Create a burgoer fucko</h2>
<form action="" class="make-burger">
    <div class="form-group">
        <label for="burger-text">Make it</label>
        <input type="text" id="burger-text" name="burgers">
    </div>
    <button type="submit" class="add-burger">Add that borger</button>
</form>